body {
    background: linear-gradient(-5deg, rgb(118, 201, 255), rgb(247, 255, 222));
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.sun {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    top: -75px;
    left: -75px;
    z-index: 3;
}

.cube {
    background-color: red;
    width: 80px;
    height: 80px;
    position: relative;
    border: 2px solid;
    top: 315px;
    margin: auto;
    z-index: 4;
    animation: .7s ease-out 1s infinite alternate jump_cube;
}

.ground {
    width: 100vw;
    height: 40px;
    background: linear-gradient(-5deg, rgb(88, 175, 236), rgb(182, 255, 255));
    z-index: 1;
    position: absolute;
    top: 380px;
}

.water {
    width: 100vw;
    height: 100%;
    background: linear-gradient(-2deg, rgba(0, 0, 0, 0.986) 70%, rgb(7, 74, 105), rgb(108, 134, 168));
    z-index: 1;
    position: absolute;
    top: 420px;
}

@keyframes jump_cube {
    0% {transform: scale(2, 0.2); border-radius: 50%}
    10% {top: 325px}
    20% {transform: scale(1, 0.4); border-radius: 0%}
    100% {top: -75px}
}

.crack-base {
    width: 100px;
    height: 40px;
    z-index: 1;
    top: 380px;
    margin: auto;
    columns: 6rem auto;
}

.crack {
    width: 2%;
    height: 40px;
    z-index: 1;
    background-color: rgb(65, 103, 126);
    position: relative;
}

.crk-one {
    left: 30px;
    rotate: 50deg;
    top: -5px;
}

.crk-two {
    left: -52px;
    rotate: -50deg;
    top: -5px;
}

.crk-three {
    left: -200%;
    rotate: 20deg;
    top: 8px;
}

.crk-four {
    left: -300%;
    rotate: -10deg;
    top: 2px;

}

.crk-five {
    left: -400%;
    rotate: 20deg;
}

.crk-six {
    left: -520%;
    rotate: -20deg; 
}

.fish {
    width: 70px;
    height: 30px;
    position: relative;
    display: flex;
}

.fleft {
    left: 300px;
    bottom: -150px
}

.fmiddle {
    left: 800px;
    bottom: -170px;
}

.fright {
    left: 1500px;
    bottom: -50px; 
}

.torso {
    width: 50px;
    height: 20px;
    background: linear-gradient(-10deg, rgb(0, 0, 0) 60%, rgb(58, 53, 53));
    margin-top: 5px;
    border-radius: 50% 30% 30% 40%;
}

.tail {
    width: 10px;
    height: 30px;
    background: linear-gradient(-10deg, rgb(0, 0, 0) 60%, rgb(58, 53, 53));
    border-radius: 50% 0% 0% 50%
}

.bfish {
    position: relative;
    top: 300px;
    left: 1450px;
    display: flex;
}

.bftorso {
    width: 70px;
    height: 50px;
    background: linear-gradient(-10deg, rgb(0, 0, 0), rgb(22, 21, 21) );
    border-radius: 30% 70% 50% 20%;
    margin-left: -5px;
}

.bftail {
    width: 30px;
    height: 30px;
    background: linear-gradient(-10deg, rgb(5, 5, 5), rgb(22, 21, 21) );
    margin-top:15px;
    border-radius: 50% 0% 0% 50% 
}

.bflantern {
    width: 60px;
    height: 60px;
    background: linear-gradient(-10deg, rgb(0, 0, 0), rgb(22, 21, 21) );
    border-radius: 50% 50% 50% 50%;
    margin-top: -20px;
}

.bftblock {
    background-color: rgb(3, 3, 3);
    width: 35px;
    height: 35px;
    border-radius: 70% 100% 100% 100%;
    margin-left: -12px;
    margin-top: 12px;
}

.bflblock {
    background-color: rgb(3, 3, 3);
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 50%;
    margin-top: -25px;
}

.bfllight {
    background-color: yellow;
    width: 10px;
    height: 15px;
    border-radius: 100% 100% 100% 100%;
    margin-top: 15px;
}

.eye {
    background: linear-gradient(-10deg, rgb(0,0,0), rgb(134, 131, 131));
    width: 20px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 80% 100% 100% 80%;
}