:root {
    /* Main */
    --first-color: rgb(255, 255, 255);
    /*--------*/
    /* Body */
    --second-color-one: rgb(99, 198, 255);
    --second-color-two: rgb(69, 89, 179);
    --second-color-three: rgb(47, 63, 131);
    --second-color-four: rgb(23, 42, 146);
    /*--------*/
    /* Header */
    --third-color: rgb(155, 223, 255);
    /*--------*/
    /* Navbar */
    --fourth-color-one: rgb(0, 153, 255);
    --fourth-color-two: rgb(228, 124, 39);
    --fourth-color-three: rgb(43, 190, 43);
    --fourth-color-four: rgb(226, 224, 74);
    --fourth-color-five: rgb(255, 64, 214);
    /*-------*/
}

/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(
        var(--second-color-one),
        var(--second-color-two),
        var(--second-color-three),
        var(--second-color-four)
    );
}

.main {
    width: 60%;
    height: auto; 
    display: inline-flex;
    background-color: var(--first-color);
}

/*-------*/
/* Titre */

header {
    width: 60%;
    height: auto;
    background-color: var(--third-color);
    text-align: center;
    position: absolute;
    padding: 10px;
}

/*-------*/
/* Navbar gauche */

.gauche {
    width: 20%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin-top: 8%;
    margin-left: 2%;
}

.navbar {
    width: 100%;
    height: auto;
    border: solid 2px;
    margin: 2%;
}

h4 {
    text-align: center;
    margin-bottom: 2%;
}

#one h4 {
    background-color: var(--fourth-color-one);
}

#two h4 {
    background-color: var(--fourth-color-two);
}

#three h4 {
    background-color: var(--fourth-color-three);
}

#four h4 {
    background-color: var(--fourth-color-four);
}

#five h4 {
    background-color: var(--fourth-color-five);
}

ul {
    list-style-type: none;
    margin: 10px;
}

.user {
    width: 100%;
    height: auto;
    border: solid 2px;
    margin: 2%;
    display: inline-flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

.user-form, label {
    margin-left: 10px; 
}

.log-form {
    margin: 5%;
}

/*-------*/
/* Sujet Principal du doc */

.sujet {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin: 8%;
}

h2 {
    margin-top: 2%;
    margin-bottom: 1%;
}

.sujet p {
    margin: 1%
}

/*--------*/
/* Img 2x2 */

.img-cube {
    width: 60%;
    height: auto;
    background-color: yellow;
    align-self: center;
    margin-top: 2%
}

/*--------*/