:root {
    /* Main */
    --first-color: rgb(255, 255, 255);
    /*--------*/
    /* Body */
    --second-color-one: rgb(99, 198, 255);
    --second-color-two: rgb(69, 89, 179);
    --second-color-three: rgb(47, 63, 131);
    --second-color-four: rgb(23, 42, 146);
    /*--------*/
    /* Header */
    --third-color: rgb(155, 223, 255);
    --third-color-var: rgb(11, 164, 235);
    /*--------*/
    /* Navbar */
    --fourth-color-one: rgb(107, 196, 255);
    --fourth-color-one-var: rgb(0, 140, 233);
    --fourth-color-two: rgb(255, 171, 103);
    --fourth-color-two-var: rgba(214, 97, 1, 0.836);
    --fourth-color-three: rgb(99, 245, 99);
    --fourth-color-three-var: rgb(17, 175, 17);
    --fourth-color-four: rgb(250, 248, 128);
    --fourth-color-four-var: rgb(202, 199, 24);
    --fourth-color-five: rgb(248, 118, 220);
    --fourth-color-five-var: rgb(212, 7, 168);
    /*-------*/
    /* Doc */
    --fifth-color-one: rgb(247, 247, 247);
}

/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
        var(--second-color-one),
        var(--second-color-two),
        var(--second-color-three),
        var(--second-color-four)
    );
}

.main {
    width: 60%;
    height: auto; 
    display: inline-flex;
    background-color: var(--first-color);
    border-radius: 1% 1% 5% 5%;
}

/*--------------------------------------------------------------*/
/* Titre */

header {
    width: 60%;
    height: auto;
    background: linear-gradient(
        var(--third-color),
        var(--third-color-var),
        var(--third-color)
    );
    text-align: center;
    position: absolute;
    padding: 10px;
    border-radius: 5% 5% 0 0;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}

/*--------------------------------------------------------------*/
/* Navbar gauche */

.gauche {
    width: 20%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin-top: 8%;
    margin-left: 2%;
}

.navbar {
    width: 100%;
    height: auto;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    margin: 2%;
    border-radius: 10% 10% 0 0;
}

.nav-link:link, .nav-link:visited {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    background-color: rgb(206, 199, 199);
}

#one {
    border-color: var(--fourth-color-one-var);
}

#two {
    border-color: var(--fourth-color-two-var);
}

#three {
    border-color: var(--fourth-color-three-var);
}

#four {
    border-color: var(--fourth-color-four-var);
}

#five {
    border-color: var(--fourth-color-five-var);
}

h4 {
    text-align: center;
    margin-bottom: 2%;
    width: 100%;
    height: auto;
    border-radius: 10% 10% 0 0;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

#one h4 {
    background: linear-gradient(
        var(--fourth-color-one),
        var(--fourth-color-one-var),
        var(--fourth-color-one)
    );
    border-start-start-radius: 11px;
    border-start-end-radius: 11px;
    border-color: var(--fourth-color-one-var)
}

#two h4 {
    background: linear-gradient(
        var(--fourth-color-two),
        var(--fourth-color-two-var),
        var(--fourth-color-two)
    );
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
    border-color: var(--fourth-color-two-var)
}

#three h4 {
    background: linear-gradient( 
        var(--fourth-color-three),
        var(--fourth-color-three-var),
        var(--fourth-color-three)
    );
    border-start-start-radius: 11px;
    border-start-end-radius: 11px;
    border-color: var(--fourth-color-three-var)
}

#four h4 {
    background: linear-gradient( 
        var(--fourth-color-four),
        var(--fourth-color-four-var),
        var(--fourth-color-four)
    );
    border-start-start-radius: 17px;
    border-start-end-radius: 17px;
    border-color: var(--fourth-color-four-var)
}

#five h4 {
    background: linear-gradient(
        var(--fourth-color-five),
        var(--fourth-color-five-var),
        var(--fourth-color-five)
    );
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    border-color: var(--fourth-color-five-var)
}

ul {
    list-style-type: none;
    margin: 10px;
}

.user {
    width: 100%;
    height: auto;
    margin: 2%;
    display: inline-flex;
    flex-direction: column;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-radius: 10% 10% 0 0;
}

label {
    margin-top: 10px;
}

.user-form, label {
    margin-left: 10px; 
}

.log-form {
    margin: 5%;
}

/*--------------------------------------------------------*/
/* Sujet Principal du doc */
/* all */
.sujet {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin: 8%;
}

/*le titre d'un sujet*/
h2 {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 30px;
}

/*les categorie du sujet*/
h3 {
    font-size: 25px;
}

/*sous categorie*/
h5 {
    font-size: 18px;
    margin-top: 30px
}

.sujet p {
    margin: 1%
}

/*espace au dessus d'un h3 ciblé*/
.espace {
    margin-top: 40px
}

/*code*/
code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    width: 40%;
    font-family: cursive;
}

.box-code {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/*-*/
/* 3x3x3 */
/* nav 3x3x3 */

.boxnav-3x3 {
    width: 100%;
    height: auto;
    border: solid 1px;
    margin: 25px 0 25px 0;
    background: var(--fifth-color-one)
}

.nav-3x3 {
    width: 100%;
    height: auto;
    margin: 4% 0% 4% 9%
}

.nav-3x3 ul {
    line-height: 23px;
}

/*-*/
/* Main 3x3x3 */

.back-top {
    text-decoration: none;
    color: black;
    font-size: 12px;
    align-self: flex-end;
}

.back-top:hover {
    background: rgb(206, 199, 199);;
}

/*-*/

/*-------------------------------------------------------------*/
/* Img du doc */
/* Img 2x2 */

.img-cube {
    width: 60%;
    height: auto;
    background-color: yellow;
    align-self: center;
    margin-top: 2%
}

/*-*/