* {
    margin: 0;
    
}

html, body {
    width: 100%;
    height: auto;
    min-width: 290px;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth; 
}

body {
    width: 100%;
    height: auto;
    background-image: url("https://i.redd.it/jd8p96j52w721.png");
    background-clip: border-box;
    background-repeat: repeat;
}

/* Titre */

.header {
    color: rgb(255, 249, 158);
    text-align: center;
    font-size: 1.8em;
    background-color: rgb(43, 43, 43);
    margin-bottom: 5px
}

/* ------ */

/* Navbar de gauche */

#navbar {
    position: fixed;
    min-width: 290px;
    width: 300px;
    border: solid;
    border-color: rgb(251, 255, 13);
    background-color: rgb(43, 43, 43);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#navbar li:nth-of-type(6) {
    border-bottom: hidden;
}

#navbar ul {
    height: 80%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

#navbar li {
    color: #4d4e53;
    border-bottom: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar .nav-link {
    display: block;
    padding: 10px 30px;
    color: rgb(255, 249, 158);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.10em;
}

.proj {
    width: 100%;
    height: auto;
    text-align: center;
    border-top: solid rgb(251, 255, 13);
    background-color: rgb(252, 255, 100);
}

.proj p {
    font-size: 1.3em;
    padding: 5px;
    color: red
}

.proj .proj-link {
    font-size: 1.2em;
    font-weight: bold;
}

/* ------- */

/* Main doc */

#main-doc {
    position: absolute;
    width: 80%;
    margin-left: 310px;
    padding: 25px;
    margin-bottom: 110px;
    border: solid;
    border-color: rgb(251, 255, 13);
    background-color: rgb(43, 43, 43);
    
}

.header-section {
    text-align: center;
    margin: 0px;
    color: rgb(255, 249, 158);
    font-size: 1.8em;
}

section article {
    color: #ffffff;
    margin: 20px;
    font-size: 1.10em;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
}

section h3 {
    color: rgb(8, 105, 252);
    line-height: 3em;
    font-size: 1.5em
}

section h4 {
    color: pink;
    font-size: 1.0em;
}

section p {
    color: rgb(158, 243, 239);
    margin: 10px;
    text-indent: 30px;
}

section ul, ol {
    color: rgb(32, 165, 253);
    margin: 20px
}

.main-section {
    border-bottom: 1px solid;
    padding-top: 3%;
    border-color: rgb(251, 255, 13);
}

.main-section:nth-of-type(1) {
    padding-top: 1%;
}

.main-section:nth-of-type(6) {
    border-bottom: none;
}

.two {
    display: block;
}

.boss-prés {
    font-weight: bold;
}

.mecha {
    font-size: 0.99em;
}

.vid {
    margin-left: 28%
}

/* ------- */ 

/* img Présentation 1er section */

.localisation {
    align-self: center;
}

/* ------- */

/* img Les bêtes du Norfendre 2eme section */

.img-bêtes {
    width: 50%;
    height: auto;
    margin-left: 24%; 
}

.img-gormok {
    width: 300px;
    height: 300px;
    float: right;
}

.img-vers {
    width: 400px;
    height: 300px;
    float: right;
}

.img-glace {
    width: 300px;
    height: 300px;
    float: right;
}

/* ------- */

/* img Jaraxxus 3eme section */

.img-jaraxxus {
    width: 70%;
    height: auto;
    margin-left: 14%;
}

.yolo {
    width: 100px;
    height: 100px;
    float: inline-end;
}

.img-portail {
    width: 60px;
    height: 60px;
    float: inline-end;
}

.img-volcan {
    width: 60px;
    height: 60px;
    float: inline-end;
}

/* ------- */

/* img Les champions 4eme section */

.img-champions {
    width: 40%;
    height: auto;
    margin-left: 28%;
}

/* ------- */

/* img Les Jumelles 5eme section */

.img-jumelles {
    width: 70%;
    height: auto;
    margin-left: 14%;
}

.img-vblanc {
    width: 60px;
    height: 60px;
    float: inline-start;
}

.img-vnoir {
    width: 60px;
    height: 60px;
    float: inline-end;
}

/* ------- */

/* img Anub'Arak 6eme section */

.img-anub {
    width: 40%;
    height: auto;
    margin-left: 28%;
}

/* ------- */
